<nav>
  <a
    class="button"
    routerLink="/"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home
  </a> |
  <a
    class="button"
    routerLink="/app-airport-list"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Airport List
  </a> |
  <a
    class="button"
    routerLink="/app-map-view"
    routerLinkActive="activebutton"
    ariaCurrentWhenActive="page"
  >
    Map View
  </a>
</nav>
<router-outlet></router-outlet>