.map-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 92%;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.map-message {
  z-index: 9999;
  position: fixed;
  text-align: center;
  width: 20%;
  max-width: 250px;
  height: 150px;
  right: 10px;
  background: #ffffff9a;
  padding: 1em !important;
  border-radius: 6px;
  box-shadow: 0px 1px 10px;
}

.map-airport-detail{
  z-index: 9999;
  position: fixed;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: #ffffffb7;
  padding: 1em !important;
  border-radius: 6px;
  box-shadow: 0px 1px 10px;
}