<div *ngIf="loader">
  <div class="loading"></div>
</div>
<div class="map-message" *ngIf="!loader">
  <p>Select an airport to filter the flights</p>
  <hr />
  <p>Select a flight for details</p>
  <button (click)="resetMap()" class="button">
    Reset map
  </button>
</div>
<div *ngIf="selectedAirport || hoverAirport" class="map-airport-detail">
  <div class="airport-name" *ngIf="hoverAirport">
    {{ hoverAirport.icao }} - {{ hoverAirport.name }}
  </div>
  <div class="airport-name" *ngIf="selectedAirport && !hoverAirport">
    {{ selectedAirport.icao }} - {{ selectedAirport.name }}
  </div>
</div>
<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>