/* You can add global styles to this file, and also import other style files */
html {
    background-color: #cce0f5 !important;
    font-family: 'Roboto', sans-serif;
    margin-top: 4em;
}

nav {
    z-index: 999;
    position: fixed;
    width: 100vw;
    background: #014585;
    top: 0;
    left: 0;
    padding: 1em;
    margin: 0 auto !important;
    box-shadow: 0px 1px 20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.loading {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 25vh;
    border: 20px solid #f3f3f3; /* Light grey */
    border-top: 20px solid #014585; /* Blue */
    border-radius:50%;
    width: 100px;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type="text"] {
    padding: 6px;
    padding-left: 8px;
    border: 0px;
    background: #f9f9f9;
    margin-bottom: 1em;
    width: 50%;
    max-width: 300px;
}

.button {
    background: #ffffff linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: Arial, sans-serif;
    padding: 6px 24px;
    text-decoration: none;
    outline: 0;
    transition: 0.15s;
}
.button:hover {
    transition: 0.35s;
    background: #91beec;
    color: #0a4580;
    border: 0px;
}